.main-section {
  padding-top: 94px;
}

.main-list {
  display: flex;
}

.icons-box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-icons {
  width: 70px;
  height: 70px;
}

.head-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
}

.main-list-item {
  display: flex;
  flex-direction: column;
}

.main-list-item:not(:last-child) {
  margin-right: 30px;
}

.head-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
}
