.skills {
  padding-top: 94px;
}

.skills-list {
  display: flex;
  .skills-item {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.skills-icons-box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  .skills-icons {
    width: 70px;
    height: 70px;
  }
}

.skills-aftertitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
}

.skills-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
}
